@use '~@jlbelanger/crudnick/src/scss/utilities/variables' as crudnick with (
	$crudnick-primary: #382893,
);
@use '~@jlbelanger/crudnick/src/style';

.image-placeholder {
	height: 50px;
	width: 50px;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 50px;
}

.col--50 {
	width: 50%;
}

.border {
	border: 1px solid crudnick.$crudnick-primary;
	margin-top: crudnick.$crudnick-margin;
	padding: crudnick.$crudnick-padding;

	& > :first-child {
		margin-top: 0;
	}
}
