$crudnick-primary: #382893;

@import '@jlbelanger/crudnick/src/style';

.image-placeholder {
	height: 50px;
	width: 50px;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 50px;
}

.col--50 {
	width: 50%;
}

.border {
	border: 1px solid $crudnick-primary;
	margin-top: $crudnick-margin;
	padding: $crudnick-padding;

	& > :first-child {
		margin-top: 0;
	}
}
